{% extends 'socialnetworking/base.html' %}

{% block main %}
 <div>
 <h1>Login via Facebook, Google, and Twitter</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}"><button>Logout</button></a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><button>Login with Facebook</button></a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><button>Login with Google</button></a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><button>Login with Twitter</button></a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}